* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

:root {
  /* Farver */
  --button-color: #993f53;
  --big-box-color: #cac5c5;
  --background-color: #352b2d;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--background-color);
}
main {
  max-width: 1600px;
}
button {
  background-color: var(--button-color);
  font-family: "Cinzel", serif;
  padding: 15px 35px;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  color: white;
  text-align: center;
  text-decoration: none;
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: #993f53;
}

.box {
  background-color: var(--big-box-color);
  display: block;
  padding: 60px;
}

h1 {
  font-family: "Cinzel", serif;
}
h2 {
  font-family: "Cinzel", serif;
}

h3 {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
}

h4 {
  font-family: "Cinzel", serif;
}

input {
  font-family: "Cinzel", serif;
}

a {
  font-family: "Cinzel", serif;
}

@media (min-width: 800px) {
  button {
    background-color: var(--button-color);
    font-family: "Cinzel", serif;
    display: block;
    margin-top: 25px;
    padding: 10px 30px;
    font-size: 2rem;
    border: none;
    border-radius: 25px;
    color: white;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
  }
}

#card {
  display: flex;
  padding: 2rem;
  text-align: center;
  background-color: #fffbfb;
  margin-top: 2rem;
  flex-direction: column;
}
@media (min-width: 700px) {
  .button {
    grid-column: 2/3;
    margin-top: 2rem;
  }
  #card {
    padding: 2rem;
    text-align: center;
    background-color: #fffbfb;
    margin-top: 2rem;
    flex-direction: column;
  }
}
