---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Tak for din kommentar!">
  <div>
    <h2>Tak for din kommentar!</h2>
    <p>Bemærk venligst, at den skal godkendes, før den vises på vores hjemmeside.</p>
  </div>
</MainLayout>
<style>
  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
  }
  p {
    font-family: "Cinzel", serif;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  div {
    display: flex;
    padding: 2rem;
    text-align: center;
    background-color: #fffbfb;
    margin-top: 2rem;
    flex-direction: column;
    margin-bottom: 2rem;
  }
</style>
