---
import Form from "../components/Form.astro";
import MainLayout from "../layouts/MainLayout.astro";
import Testimonials from "../components/Testimonials.astro";
---

<MainLayout title="Kampange site">
  <section>
    <Testimonials />
  </section>
  <Form />
</MainLayout>
<style>
  section {
    display: grid;
    gap: 1em;
    padding: 1em;
  }
</style>
