<div id="burger-menu">
  <span></span>
</div>

<nav id="menu">
  <ul>
    <a class="menu_logo" href="/"><img src="/Royal Escapes_white.svg" alt="logo" /></a>
    <div>
      <li><a href="/">FORSIDE</a></li>
      <li><a href="#">ESCAPE ROOMS</a></li>
      <li><a href="#">BOOK NU</a></li>
      <li><a href="#">GAVEKORT</a></li>
    </div>
  </ul>
</nav>

<script src="../scripts/burger.js"></script>

<style>
  #menu {
    width: 100%;
    display: flexbox;
    justify-items: space-around;
    float: right;
  }
  #menu li {
    display: inline-block;
  }
  #menu a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
  }
  #menu ul {
    padding: 0;
    display: block;
    background-color: #333;
    padding: 20px;
  }

  .menu_logo {
    display: inline-block;
    width: 100px;
    height: 0;
  }
  @media screen and (max-width: 900px) {
    #burger-menu {
      cursor: pointer;
      height: 27px;
      width: 27px;
      margin: 25px;
      overflow: visible;
      position: relative;
      z-index: 2;
    }
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: #333;
      display: block;
      height: 3px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
    }
    #burger-menu span:before,
    #burger-menu span:after {
      content: "";
    }
    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 27px;
    }
    #burger-menu span {
      right: 0px;
      top: 13px;
      width: 27px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: #fff;
    }
    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
      background: #fff;
    }
    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
      background: #fff;
    }

    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
      background: brown;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: rgba(0, 0, 0, 0.8);
    }
    #menu ul {
      padding: 0;
      background-color: brown;
    }
    #menu li {
      list-style: none;
      display: initial;
    }
    #menu a {
      color: #fff;
      display: block;
      font-size: 32px;
      margin-bottom: 30px;
      text-decoration: none;
    }
  }
</style>
