---
const { title, link } = Astro.props;
---

<div class="button_container">
  <button>{title}</button>
  <a href={link}></a>
</div>

<style>
  button {
    background-color: var(--button-color);
    font-family: "Cinzel", serif;
    display: block;
    margin-top: 10px;
    padding: 5px 25px;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    color: white;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
  }
  /* .button_container {
    height: auto;
    width: 100%;
  } */
</style>
