---
const { title, link } = Astro.props;
---

<div class="button_container">
  <button>{title}</button>
  <a href={link}></a>
</div>

<style>
  /* .button_container {
    height: auto;
    width: 100%;
  } */
</style>
