<article class="box">
  <ul>
    <li class="underlined">INFO@ROYALESCAPES.DK</li>
    <li>ROYAL ESCAPES, KØBENHAVN K FRDERICIAGADE 30 <br /> 1310 KØBENHAVN</li>
    <li>
      <img class="royal_footer_icons" src="/royal_footer_icons.png" alt="royal_footer_icons" />
    </li>
  </ul>
</article>

<style>
  .box {
    display: block;
    background-color: lightgray;
    padding: 60px;
  }

  ul {
    text-align: center;
  }
  li {
    text-transform: capitalize;
    list-style: none;
    color: black;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: lighter;
  }

  .underlined {
    text-decoration: underline;
  }

  .royal_footer_icons {
    width: 20%;
    margin-top: 40px;
  }
</style>
