---
import Button from "../components/Button.astro";
---

<header class="bg">
  <div class="text_box">
    <img class="logo" src="/royalescapes_logo.webp" alt="logo" />
    <h1>Escape venskabskrisen med vores <br /> escape room</h1>
    <div class="book">
      <Button title="BOOK" link="https://www.royalescapes.dk" />
    </div>
  </div>
  <span></span>
</header>

<style>
  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 12rem;
  }

  .bg {
    background-image: url(/header.webp);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    width: 40%;
    align-self: center;
    justify-content: center;
  }

  .text_box {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column: 2/5;
    background-color: #cac5c5;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 100px whitesmoke;
  }

  h1 {
    font-size: 9px;
    text-align: center;
    color: black;
    font-weight: 100;
  }
  .book {
    justify-content: center;
    align-self: center;
    margin-top: 7%;
  }

  @media (min-width: 800px) {
    header {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 48rem;
    }

    .bg {
      background-image: url(/header.webp);
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: ;
    }

    .logo {
      width: 50%;
      align-self: center;
      justify-content: center;
    }

    .text_box {
      display: flex;
      flex-direction: column;
      grid-row: 1;
      grid-column: 2/5;
      background-color: #cac5c5;
      color: white;
      margin-top: 90px;
      margin-bottom: 115px;
      border-radius: 10px;
      box-shadow: 0 0 100px whitesmoke;
    }

    h1 {
      font-size: 2rem;
      text-align: center;
      color: black;
      font-weight: 100;
    }
    .book {
      margin-bottom: 5rem;
    }
  }
</style>
