<section>
  <a href="https://www.instagram.com/royalescapescph/"><h2>@royalescapescph</h2></a>
  <div class="grid_2-2">
    <a href="https://www.instagram.com/p/CrB0qSeKvMv/"><img src="/insta.webp" alt="insta" /></a>
    <a class="none" href="https://www.instagram.com/royalescapescph/"><img src="/insta3.webp" alt="insta3" /></a>
    <a href="https://www.instagram.com/p/CQF51gYhhZp/"><img src="/insta2.webp" alt="insta2" /></a>
  </div>
</section>

<style>
  .grid_2-2 {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px;
  }
  section {
    background-color: #cac5c5;
    padding: 3rem;
  }
  .none {
    display: none;
  }
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  a {
    text-decoration: none;
    color: black;
  }

  @media (min-width: 820px) {
    .grid_2-2 {
      display: grid;
      grid-template-columns: 2fr 2fr 2fr;
      grid-gap: 50px;
      margin-inline: 2rem;
    }
    .none {
      display: block;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
</style>
