---
import Testimonials from "./Testimonials.astro";
---

<section>
  <h2>DET SIGER VORES KUNDER</h2>
  <Testimonials />
</section>

<style>
  section {
    margin: 2rem;
    background-color: #352b2d;
    padding: 2rem;
  }
  @media (min-width: 820px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #352b2d;
      justify-content: center;
      gap: 30px;
    }
  }
</style>
