---
import Testimonials from "./Testimonials.astro";
---

<h2>DET SIGER VORES KUNDER</h2>
<section>
  <Testimonials />
</section>

<style>
  section {
    margin-bottom: 2rem;
    margin-inline: 2rem;
    background-color: #352b2d;
    padding-inline: 2rem;
    padding-bottom: 2rem;
  }
  h2 {
    text-align: center;
    color: white;
    margin-top: 3rem;
    font-weight: 400;
  }
  @media (min-width: 820px) {
    section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #352b2d;
      justify-content: center;
      gap: 30px;
    }
  }
</style>
