---
import Button from "./Button.astro";
const { data } = Astro.props;

function getFirstNChars(str, length) {
  return str.substring(0, length);
}
---

<div class="card">
  <h2>{data.title}</h2>

  <p>
    {getFirstNChars(data.description, 100)}...
  </p>
  <p class="name">{"-" + " " + data.name}</p>
  <div class="button">
    <Button link={"testimonials/" + data.title + "-" + data.id} title="Læs mere" />
  </div>
</div>
<style>
  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem;
  }
  .card {
    display: flex;
    padding: 2rem;
    text-align: center;
    background-color: #fffbfb;
    margin-top: 2rem;
    flex-direction: column;
    height: 350px;
  }
  .button {
    margin-top: auto;
  }
  p {
    font-family: "Cinzel", serif;
  }
  .name {
    font-size: 0.7rem;
    font-weight: 600;
    text-align: right;
    margin-top: 1rem;
  }
</style>
