---
import Testimonials from "./Testimonials.astro";
---

<section>
  <Testimonials />
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-inline: 6rem;
  }
</style>
