<section class="tekst">
  <div class="tekst3">
    <h1>Venskaber kræver også pleje...</h1>
    <h2>NOGLE GANGE ER ET GODT GYS DET DER SKAL TIL...</h2>
  </div>
  <div class="tekst2">
    <p>
      Synes du også at det til tider er røvsygt i din vennegruppe,? så prøv
      vores Royal escape room og escape vennkrisen. inden den dyre terapeut
      regning.
    </p>
  </div>

  <div>
    <img class="dronning" src="/dronning1.webp" alt="dronning" />
  </div>
</section>

<style>
  .tekst {
    background-color: #cac5c5;
  }
  .tekst2 {
    background-color: white;
    text-align: center;
  }

  .dronning {
    margin: -2%;
  }
  .tekst3 {
    text-align: center;
  }
</style>
