---
import Button from "./Button.astro";
---

<section class="tekst grid_1-1">
  <div class="tekst3">
    <h1>Venskaber kræver også pleje...</h1>
    <h2>NOGLE GANGE ER ET GODT GYS DET DER SKAL TIL...</h2>
    <p class="tekst2">Synes du også at det til tider er røvsygt i din vennegruppe? så prøv vores Royal escape room og escape vennekrisen, inden den dyre terapeut regning.</p>
    <div class="Button">
      <Button title="SE ESCAPE ROOM" link="https://www.royalescapes.dk/dk/escape-rooms/" />
    </div>
  </div>

  <div>
    <img class="dronning" src="/dronning1.webp" alt="dronning" />
  </div>
</section>

<style>
  section {
    display: block;
    text-align: center;

    padding: 1rem;
  }
  .tekst {
    background-color: #cac5c5;
  }
  .tekst2 {
    background-color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
  }

  .tekst3 {
    text-align: center;
  }
  h1 {
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 15px;
  }
  h2 {
    font-size: 16px;
    margin-top: 15px;
  }
  .dronning {
    width: 109%;
    height: auto;
    margin: -6%;
    margin-top: 10%;
    background-color: #cac5c5;
  }
  .Button {
    margin-top: 10%;
  }
  p {
    font-family: "Cinzel", serif;
  }

  @media (min-width: 820px) {
    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .dronning {
      width: 100%;
      height: auto;
      margin: -2%;
      margin-top: -1.4%;
      margin-right: -6%;
    }
    section {
      display: grid;
      text-align: center;

      padding: 0.7rem;
    }
    .tekst2 {
      padding: 2rem;
      margin: 5rem;
      margin-top: 5%;
    }
    .tekst3 {
      text-align: center;
    }
    h1 {
      margin-top: 10%;
      font-size: 30px;
      margin-bottom: 30px;
    }
    .Button {
      margin-top: -10%;
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }

    h2 {
      margin-top: 30px;
    }
    p {
      font-family: "Cinzel", serif;
    }
  }
</style>
